* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cinza: #D4D0CF;
    --rocho: #820AD1;
}

html {
    font-size: 62.5%;
}

nav {
    display: flex;
    width: 100%;
    height: 8rem;
    background: var(--cinza);
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
}

.img-logo {
    width: 6vw;
    z-index: 9;
    background-color: var(--cinza);
}

.ul1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90vw;
    list-style-type: none;
    cursor: pointer;
}

.ul1 li {
    font-size: 1.7rem;
    cursor: pointer;
    z-index: 9;
}

.lupa {
    width: 2rem;
    cursor: pointer;
    z-index: 9;
}

.login {
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1.6rem;
    border: none;
    background-color: #cec9c8;
    cursor: pointer;
    z-index: 9;
}

.quero-ser {
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1.6rem;
    border: none;
    background-color: var(--rocho);
    color: white;
    cursor: pointer;
    z-index: 9;
}

.nu1 {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    padding-bottom: 9rem;
    width: 80vw;
    height: 60vh;
    background-color: var(--cinza);
    border-radius: 0 0 2rem 2rem;
    position: absolute;
    top: 8rem;
    left: 10%;
    right: 10%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.8s ease-in-out, transform 0.9s ease-in-out;
    transform: translateY(-20px);
}
.bank1:hover .nu1{
    transform: translate(0);
    opacity: 1;
    visibility: visible;
}
.img1{
    width: 25rem;
    border-radius: 1rem;
}
.nubank {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 33%;
    height: 40rem;
}

.nubank2, .nubank3 {
    width: 20%;
    height: 35rem;
}
.nubank22, .nubank33 {
    list-style-type: none;
    line-height: 5rem;
}
.nubank2 li:hover, .nubank33 li:hover{
    color: var(--rocho);
}
@media (max-width: 1024px) {
    body {
        background-color: black;
    }
}